Source: ckeditor
Section: web
Priority: optional
Maintainer: Dmitry Smirnov <onlyjob@debian.org>
Uploaders: Bastien Roucariès <roucaries.bastien+debian@gmail.com>
          ,Frank Habermann <lordlamer@lordlamer.de>
Build-Depends: debhelper (>= 9.0~)
    ,ckbuilder (>= 2.3.0+dfsg-2~)
    ,xvfb, xauth
Standards-Version: 3.9.7
Homepage: http://ckeditor.com
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ckeditor.git
Vcs-Git: https://anonscm.debian.org/collab-maint/ckeditor.git

Package: ckeditor
Architecture: all
# Remove libjs-highlight after jessie + 1
Depends: ${misc:Depends},
	 libjs-swfobject,
	 libjs-highlight.js (>= 8.0~) | libjs-highlight (>= 8.0~)
Recommends: javascript-common
Description: text editor which can be embedded into web pages
 CKEditor is a WYSIWYG editor which can be embedded into web pages.
 WYSIWYG means that the text being edited looks as similar
 as possible to the results users have when publishing it.
 .
 It brings to the web common editing features found on desktop
 editing applications like Microsoft Word and OpenOffice.
